* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
.header-page {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  display: flex;
  justify-content: center;
}
#logo {
  width: 55%;
}
.search {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ed4d27;
  border-radius: 20px;
  padding: 5px;
  margin-right: 20px;
}
.search-text {
  margin: 5px;
  width: 100%;
}
.button-search {
  display: flex;
  justify-content: center;
  border: none;
  outline: none;
}
#button-header-items-search {
  font-size: 20px;
}
#button-header-items {
  font-size: 20px;
  margin: 5px;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}
#hamburger-icon div {
  width: 28px;
  height: 3px;
  background-color: #ed4d27;
  margin: 6px 0;
  transition: 0.4s;
}
.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6xp, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}
.open .bar2 {
  opacity: 0;
}
.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}
.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
}
.open .mobile-menu li {
  padding: 10px;
  color: #fff;
  border-bottom: 2px solid white;
}
.mobile-menu {
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
  background-color: #ed4d27;
}

.nav-page {
  background-color: #ed4d27;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  transition: 0.7s ease;
}
a:hover {
  color: grey;
}

i:hover {
  transition: 0.3s;
  transform: scale(1.1);
}
img {
  width: 100%;
}
input {
  border: none;
  outline: none;
}

input:focus {
  outline: none;
}
h2 {
  color: #ed4d27;
  padding: 20px;
}
span {
  font-size: 25px;
  font-weight: 500;
  color: #ed4d27;
  padding-top: 15px;
}
a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  padding: 20px;
}

.container {
  display: flex;
  margin: 20px auto;
  width: 70%;
}

.sidebar {
  width: 30%;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
}

.sidebar .profile {
  text-align: center;
}

.sidebar .profile img {
  width: 110px;
  height: 85px;
  border-radius: 50%;
}

.sidebar ul {
  list-style-type: none;
  margin-top: 20px;
}

.sidebar ul li {
  margin-bottom: 15px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #7B7878;
  font-weight: bold;
  padding: 10px;
  display: block;
  border-radius: 5px;
}

.sidebar ul li a.active,
.sidebar ul li a:hover {
  background-color: #ff5722;
  color: white;
}

.content {
  flex-grow: 1;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin-left: 20px;
}

.content h1 {
  margin-bottom: 20px;
  color: #333;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ed4d27;
}

.form-actions {
  display: flex;
  /* justify-content: space-between; */
}

.btn-save {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-right: 15px;
}

.btn-cancel {
  background-color: #ccc;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.footer-container {
  margin-top: 20px;
  background-color: #ed4d27;
  color: #fff;
  padding: 15px 10%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: left;
}
.footer-container h3 {
  display: inline-block;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 10px;
  border-bottom: 2px solid white;
  padding: 5px 0;
}
.footer-column {
  flex: 1;
  margin: 0 20px;
}
.footer-column ul {
  list-style: none;
  padding: 0;
}
.footer-column ul li {
  margin-bottom: 10px;
}
.footer-column p {
  margin-bottom: 8px;
}

.social-icons i {
  font-size: 24px;
  margin-right: 10px;
}

.footer-bottom {
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid white;
  margin-top: 20px;
  font-size: 14px;
}
.footer-container .footer-column:nth-child(2) {
  margin-left: 40px;
  margin-right: 40px;
}
.footer-container p {
  width: 100%;
  font-size: 18px;
  text-align: center;
}

.footer-bottom p {
  margin: 5px 0;
}

input {
  border: none;
  outline: none;
}

input:focus {
  outline: none;
}
h2 {
  color: #ed4d27;
  padding: 20px;
}
span {
  font-size: 25px;
  font-weight: 500;
  color: #ed4d27;
  padding-top: 15px;
}
a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  padding: 20px;
}
#p-container {
  text-align: left;
}

@media screen and (max-width: 960px) {
  a {
    font-size: 14px;
  }

  .footer-container {
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .button-header {
    display: none;
  }
  #hamburger-icon {
    display: block;
  }

  .search-mobile {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 5px;
    margin-top: 20px;
  }
  .search-text-mobile {
    background: transparent;
    width: 100%;
  }
  .button-search-mobile {
    color: #fff;
  }
  .search {
    display: none;
  }
  .top-search-item {
    padding: 5px;
  }
  .top-search-item span {
    padding-top: 5px;
  }

  .header-page {
    justify-content: space-around;
  }

  a {
    padding: 15px;
  }
}

@media screen and (max-width: 600px) {
  h2 {
    padding: 10px;
  }
  a {
    padding: 10px;
  }
}
