:root {
  --color-orange: #ed4d27;
  --color-white: #fff;
  --color-black: #000;
  --color-green-light: #4caf50;
  --color-gray-light: #ccc;
  --color-gray: #808080;




}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}


.container {
  display: flex;
  margin: 20px auto;
  width: 70%;
}

.sidebar {
  width: 30%;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--color-gray-light);
}

.sidebar .profile {
  text-align: center;
}

.sidebar .profile img {
  width: 110px;
  height: 85px;
  border-radius: 50%;
}

.sidebar ul {
  list-style-type: none;
  margin-top: 20px;
}

.sidebar ul li {
  margin-bottom: 15px;
}

.sidebar ul li a {
  text-decoration: none;
  color: var(--color-gray);
  font-weight: bold;
  padding: 10px;
  display: block;
  border-radius: 5px;
}

.sidebar ul li a.active,
.sidebar ul li a:hover {
  background-color: var(--color-orange);
  color: var(--color-white);
}

.content {
  flex-grow: 1;
  background-color: var(--color-white);
  padding: 20px;
  border-radius: 10px;
  margin-left: 20px;
}

.content h1 {
  margin-bottom: 20px;
  color: #333;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid var(--color-orange);
}

.form-actions {
  display: flex;
  /* justify-content: space-between; */
}

.btn-save {
  background-color: var(--color-green-light);
  color: var(--color-white);
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-right: 15px;
}

.btn-cancel {
  background-color: var(--color-gray-light);
  color: var(--color-black);
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}



input {
  border: none;
  outline: none;
}

input:focus {
  outline: none;
}
h2 {
  color: var(--color-orange);
  padding: 20px;
}
span {
  font-size: 25px;
  font-weight: 500;
  color: var(--color-orange);
  padding-top: 15px;
}
a {
  text-decoration: none;
  color: var(--color-white);
  font-size: 20px;
  padding: 20px;
}


@media screen and (min-width: 1240px) {

}

@media screen and (max-width: 960px) {

}

@media screen and (max-width: 767px) {
 
}

@media screen and (max-width: 600px) {
 
}
